<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FitbitUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="FitbitUploader.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LiApiKey" value="Type your api key"/>
    <add key="LiSecretKey" value="Type your api secret key"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <FitbitUploader.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>Test</value>
      </setting>
    </FitbitUploader.Properties.Settings>
    <FitbitUploader.AppSettings>
      <setting name="AccessToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="TokenSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="Verification" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastUpload" serializeAs="String">
        <value/>
      </setting>
      <setting name="PolarXMLHistoryFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="PolarXMLHistorySchemaFile" serializeAs="String">
        <value/>
      </setting>
    </FitbitUploader.AppSettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
